# Importing and Merging Data

In [3]:
import pandas as pd

#### Austin

In [4]:
austin_1 = pd.read_csv('Data/Austin_September_23.csv')
austin_2 = pd.read_csv('Data/Austin_December_23.csv')
austin_3 = pd.read_csv('Data/Austin_March_24.csv')
austin_4 = pd.read_csv('Data/Austin_June_24.csv')

In [5]:
# List of DataFrames
dataframes = [austin_1, austin_2, austin_3, austin_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "Austin"  # Set the city name
state_name = "Texas"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
austin_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
austin_combined.to_csv('Data/Austin_Combined.csv', index=False)

#### Chicago

In [8]:
chicago_1 = pd.read_csv('Data/Chicago_September_23.csv')
chicago_2 = pd.read_csv('Data/Chicago_December_23.csv')
chicago_3 = pd.read_csv('Data/Chicago_March_24.csv')
chicago_4 = pd.read_csv('Data/Chicago_June_24.csv')

In [9]:
# List of DataFrames
dataframes = [chicago_1, chicago_2, chicago_3, chicago_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "Chicago"  # Set the city name
state_name = "Illinois"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
chicago_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
chicago_combined.to_csv('Data/Chicago_Combined.csv', index=False)

#### Columbus

In [11]:
columbus_1 = pd.read_csv('Data/Columbus_September_23.csv')
columbus_2 = pd.read_csv('Data/Columbus_December_23.csv')
columbus_3 = pd.read_csv('Data/Columbus_June_24.csv')

In [12]:
# List of DataFrames
dataframes = [columbus_1, columbus_2, columbus_3]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'June')]
city_name = "Columbus"  # Set the city name
state_name = "Ohio"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
columbus_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
columbus_combined.to_csv('Data/Columbus_Combined.csv', index=False)

#### Dallas

In [14]:
dallas_1 = pd.read_csv('Data/Dallas_July_23.csv')
dallas_2 = pd.read_csv('Data/Dallas_August_23.csv')
dallas_3 = pd.read_csv('Data/Dallas_September_23.csv')
dallas_4 = pd.read_csv('Data/Dallas_October_23.csv')
dallas_5 = pd.read_csv('Data/Dallas_November_23.csv')
dallas_6 = pd.read_csv('Data/Dallas_December_23.csv')
dallas_7 = pd.read_csv('Data/Dallas_February_24.csv')
dallas_8 = pd.read_csv('Data/Dallas_March_24.csv')
dallas_9 = pd.read_csv('Data/Dallas_April_24.csv')
dallas_10 = pd.read_csv('Data/Dallas_May_24.csv')
dallas_11 = pd.read_csv('Data/Dallas_June_24.csv')

In [15]:
# List of DataFrames
dataframes = [dallas_1, dallas_2, dallas_3, dallas_4, dallas_5, dallas_6, dallas_7, dallas_8, dallas_9, dallas_10, dallas_11]

# Corresponding year, month, city, and state for each DataFrame
dates = [
    (2023, 'July'), (2023, 'August'), (2024, 'September'), (2023, 'October'),
    (2023, 'November'), (2023, 'December'), (2024, 'February'), (2024, 'March'),
    (2024, 'April'), (2024, 'May'), (2024, 'June')
]
city_name = "Dallas"  # Set the city name
state_name = "Texas"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
dallas_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
dallas_combined.to_csv('Data/Dallas_Combined.csv', index=False)

#### Denver

In [16]:
denver_1 = pd.read_csv('Data/Denver_September_23.csv')
denver_2 = pd.read_csv('Data/Denver_December_23.csv')
denver_3 = pd.read_csv('Data/Denver_March_24.csv')
denver_4 = pd.read_csv('Data/Denver_June_24.csv')

In [17]:
# List of DataFrames
dataframes = [denver_1, denver_2, denver_3, denver_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "Denver"  # Set the city name
state_name = "Colorado"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
denver_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
denver_combined.to_csv('Data/Denver_Combined.csv', index=False)

#### Los Angeles

In [18]:
la_1 = pd.read_csv('Data/LA_September_23.csv')
la_2 = pd.read_csv('Data/LA_December_23.csv')
la_3 = pd.read_csv('Data/LA_March_24.csv')
la_4 = pd.read_csv('Data/LA_June_24.csv')

In [19]:
# List of DataFrames
dataframes = [la_1, la_2, la_3, la_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "Los Angeles"  # Set the city name
state_name = "California"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
la_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
la_combined.to_csv('Data/LA_Combined.csv', index=False)

#### New York

In [21]:
ny_1 = pd.read_csv('Data/NY_August_23.csv')
ny_2 = pd.read_csv('Data/NY_September_23.csv')
ny_3 = pd.read_csv('Data/NY_October_23.csv')
ny_4 = pd.read_csv('Data/NY_November_23.csv')
ny_5 = pd.read_csv('Data/NY_December_23.csv')
ny_6 = pd.read_csv('Data/NY_January_24.csv')
ny_7 = pd.read_csv('Data/NY_February_24.csv')
ny_8 = pd.read_csv('Data/NY_March_24.csv')
ny_9 = pd.read_csv('Data/NY_April_24.csv')
ny_10 = pd.read_csv('Data/NY_May_24.csv')
ny_11 = pd.read_csv('Data/NY_June_24.csv')
ny_12 = pd.read_csv('Data/NY_July_24.csv')

In [22]:
# List of DataFrames
dataframes = [ny_1, ny_2, ny_3, ny_4, ny_5, ny_6, ny_7, ny_8, ny_9, ny_10, ny_11, ny_12]

# Corresponding year, month, city, and state for each DataFrame
dates = [
    (2023, 'August'), (2023, 'September'), (2023, 'October'), (2023, 'November'),
    (2023, 'December'), (2024, 'January'), (2024, 'February'), (2024, 'March'),
    (2024, 'April'), (2024, 'May'), (2024, 'June'), (2024, 'July')
]
city_name = "New York"  # Set the city name
state_name = "New York"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
ny_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
ny_combined.to_csv('Data/NY_Combined.csv', index=False)

#### San Diego

In [23]:
sandiego_1 = pd.read_csv('Data/SanDiego_September_23.csv')
sandiego_2 = pd.read_csv('Data/SanDiego_December_23.csv')
sandiego_3 = pd.read_csv('Data/SanDiego_March_24.csv')
sandiego_4 = pd.read_csv('Data/SanDiego_June_24.csv')

In [24]:
# List of DataFrames
dataframes = [sandiego_1, sandiego_2, sandiego_3, sandiego_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "San Diego"  # Set the city name
state_name = "California"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
sandiego_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
sandiego_combined.to_csv('Data/SanDiego_Combined.csv', index=False)

#### San Francisco

In [29]:
sanfrancisco_1 = pd.read_csv('Data/SanFrancisco_September_23.csv')
sanfrancisco_2 = pd.read_csv('Data/SanFrancisco_December_23.csv')
sanfrancsico_3 = pd.read_csv('Data/SanFrancisco_March_24.csv')
sanfrancisco_4 = pd.read_csv('Data/SanFrancisco_June_24.csv')

In [30]:
# List of DataFrames
dataframes = [sanfrancisco_1, sanfrancisco_2, sanfrancsico_3, sanfrancisco_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "San Francisco"  # Set the city name
state_name = "California"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
sanfrancisco_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
sanfrancisco_combined.to_csv('Data/SanFrancisco_Combined.csv', index=False)

#### Seattle

In [32]:
seattle_1 = pd.read_csv('Data/Seattle_September_23.csv')
seattle_2 = pd.read_csv('Data/Seattle_December_23.csv')
seattle_3 = pd.read_csv('Data/Seattle_March_24.csv')
seattle_4 = pd.read_csv('Data/Seattle_June_24.csv')

In [33]:
# List of DataFrames
dataframes = [seattle_1, seattle_2, seattle_3, seattle_4]

# Corresponding year, month, city, and state for each DataFrame
dates = [(2023, 'September'), (2023, 'December'), (2024, 'March'), (2024, 'June')]
city_name = "Seattle"  # Set the city name
state_name = "Washington"  # Set the state name

# Loop through each DataFrame and corresponding date
for df, (year, month) in zip(dataframes, dates):
    df['year'] = year
    df['month'] = month
    df['city'] = city_name  # Add the city name column
    df['state'] = state_name  # Add the state name column

# Concatenate the DataFrames
seattle_combined = pd.concat(dataframes).reset_index(drop=True)

# Save the combined DataFrame to a CSV file
seattle_combined.to_csv('Data/Seattle_Combined.csv', index=False)

#### Combine All Data Frames and Save as CSV File

In [34]:
# Combine all cities
cities = [austin_combined, chicago_combined, columbus_combined, dallas_combined, denver_combined, la_combined, ny_combined, sandiego_combined, sanfrancisco_combined, seattle_combined]
all_cities = pd.concat(cities).reset_index(drop=True)

# To csv
all_cities.to_csv('Data/All_Cities_Combined.csv', index=False)

In [35]:
all_cities

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,year,month,city,state
0,5456,Guesthouse in Austin · ★4.84 · 1 bedroom · 2 b...,8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,126.0,...,2023-08-27,3.72,1,306,42,NaN,2023,September,Austin,Texas
1,5769,Home in Austin · ★4.90 · 1 bedroom · 1 bed · 1...,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,45.0,...,2023-08-04,1.77,1,0,21,NaN,2023,September,Austin,Texas
2,6413,Guesthouse in Austin · ★4.97 · Studio · 1 bed ...,13879,Todd,NaN,78704,30.248850,-97.735870,Entire home/apt,57.0,...,2022-10-17,0.73,1,0,3,NaN,2023,September,Austin,Texas
3,6448,Guesthouse in Austin · ★4.97 · 1 bedroom · 2 b...,14156,Amy,NaN,78704,30.260340,-97.764870,Entire home/apt,159.0,...,2023-09-04,2.09,1,156,17,NaN,2023,September,Austin,Texas
4,8502,Guest suite in Austin · ★4.56 · 1 bedroom · 1 ...,25298,Karen,NaN,78741,30.234660,-97.736820,Entire home/apt,48.0,...,2023-05-16,0.31,1,98,3,NaN,2023,September,Austin,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939382,1183589253922277689,Ballard Vintage: Prime location | Newly updated,398317720,Joanne,Other neighborhoods,Phinney Ridge,47.676760,-122.358820,Entire home/apt,481.0,...,NaN,NaN,66,324,0,STR-OPLI-23-001287,2024,June,Seattle,Washington
939383,1183592829252603312,Near UW&Seattle children Hospital,184675574,Anna,Other neighborhoods,Bryant,47.665714,-122.289243,Private room,82.0,...,NaN,NaN,4,26,0,STR-OPLI-22-001459,2024,June,Seattle,Washington
939384,1184105202783807108,The Lavender House,584875397,Aaron,Delridge,Roxhill,47.531331,-122.374214,Entire home/apt,222.0,...,NaN,NaN,1,171,0,STR-OPLI-24-000358,2024,June,Seattle,Washington
939385,1184121064141612057,King bed near lake Washington,581629893,Sudip,Rainier Valley,Rainier Beach,47.509680,-122.256950,Private room,40.0,...,NaN,NaN,1,260,0,STR-OPLI-21-000239,2024,June,Seattle,Washington
939386,1185488158015572994,Luxurious 2BR Penthouse with Water View Seattle!,386420269,Kathryn And Mike,Downtown,Belltown,47.614920,-122.347120,Entire home/apt,432.0,...,NaN,NaN,30,152,0,STR-OPLI-23-001291,2024,June,Seattle,Washington